/* Variables */
:root {
  --main-color: #3973f4;
  --font-color: black;
  --background-color: rgb(250, 250, 250);
  --secondary-background-color: rgb(255, 255, 255);
  --text-cursor-color: rgba(0, 0, 0, 0.75);
  --navbar-background-color: rgb(250, 250, 250);
  --navbar-children-color: black;
  --topbar-color: rgba(255, 255, 255, 0.85);
  --textbox-color: rgb(240, 240, 240);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: white;
    --background-color: rgb(30, 30, 30);
    --secondary-background-color: rgb(35, 35, 35);
    --text-cursor-color: rgb(255, 255, 255);
    --navbar-background-color: rgb(35, 35, 35);
    --navbar-children-color: white;
    --topbar-color: rgba(35, 35, 35, 0.85);
    --textbox-color: rgb(30, 30, 30);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ScrollBar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
  border: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
  }
}

/* Miscellaneous */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

.container {
  width: 75%;
  margin: auto;
  margin-bottom: 10em;
  background: var(--secondary-background-color);
  border-radius: 15px;
  overflow: hidden;
  z-index: 900;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

.container > .container-padding {
  margin: 45px;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .container > .container-padding {
    margin: 30px;
  }
}

p {
  color: var(--font-color);
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.resume-file {
  text-decoration: none;
  background: var(--main-color);
  color: white;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1400px) {
  p {
    color: var(--font-color);
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 0.85em;
    line-height: 1.5em;
  }
}

h2 {
  color: var(--main-color);
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-bottom: 0.75em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 1.75em;
  }
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

/* Top Bar */
.top-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-bar {
  margin-top: 0.5em;
  position: fixed;
  background: transparent;
  width: 85%;
  height: 75px;
  backdrop-filter: blur(0px);
  z-index: 1000;
  box-shadow: none;
  transition: 500ms ease;
  border-radius: 37.5px;
}

.sticky {
  background: var(--topbar-color);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.05);
}

.top-bar > .website-name {
  left: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: inherit;
  margin-left: 1.5em;
}

.top-bar > .website-name > a {
  font-weight: bold;
  color: var(--font-color);
  font-size: 1.5em;
}

.top-bar > .website-name > a > span {
  color: var(--main-color);
}

.top-nav-bar {
  right: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 500ms ease;
  padding: inherit;
  margin-right: 1.5em;
}

.top-nav-bar > .top-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.top-nav-bar > .top-nav > li > a {
  text-decoration: none;
  margin-left: 1.75em;
  color: var(--font-color);
  font-size: 1.15em;
  transition: all 250ms ease;
  font-weight: bold;
}

.top-nav-bar > .top-nav > li > a:hover {
  color: var(--main-color);
}

.top-nav-bar > .top-nav li:nth-child(6) > a {
  background: var(--main-color);
  padding: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 25px;
  color: white;
  box-shadow: none;
}

.top-nav-bar > .top-nav li:nth-child(6) > a:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.top-nav-bar > .top-nav > li > a > .fas {
  margin-right: 0.5em;
}

@media screen and (max-width: 1400px) {
  .top-bar {
    width: 97.5%;
    height: 65px;
  }
  .top-bar > .website-name {
    margin-left: 1em;
  }
  .top-nav-bar {
    margin-right: 1em;
  }
}

@media screen and (max-width: 800px) {
  .top-bar-container {
    justify-content: right;
  }
  .top-bar > .website-name > a {
    margin-left: 1em;
    font-size: 1.25em;
  }
  .top-bar {
    width: 60px;
    height: 60px;
    margin-right: 0.5em;
  }
  .top-nav-bar {
    display: none;
  }
  .top-bar > .website-name {
    display: none;
  }
}

/* Hero Section */
.hero-container {
  width: 90%;
  margin: auto;
  margin-bottom: 10em;
  overflow: hidden;
  z-index: 900;
  padding: 1em;
  padding-top: 10em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero-text {
  padding: 2em;
}

.hero-image {
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in;
}

.square1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  z-index: 10;
  overflow: hidden;
}

.square2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 500ms;
  animation: rotate 4s linear infinite;
  z-index: 9;
  opacity: 0.6;
}

.square3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  z-index: 8;
  transition: 500ms;
  animation: rotate 10s linear infinite;
  opacity: 0.4;
}

.profile-image {
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  transition: all 500ms ease-in;
}
@media screen and (max-width: 992px) {
  .special-container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .hero-container {
    padding-top: 5em;
  }
  .hero-text {
    margin-top: 2.5em;
  }
  .hero-image {
    width: 75%;
    padding-bottom: 75%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#welcome-text {
  text-align: center;
  font-weight: bold;
  color: var(--font-color);
  font-size: 5vw;
  transition: all 500ms ease-in;
  text-align: left;
  line-height: 1em;
}

#website-text {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 0.5em;
  font-size: 5vw;
  transition: all 500ms ease-in;
  display: block;
  line-height: 1em;
  text-align: left;
}

#greeting-text {
  display: block;
  line-height: 1em;
  text-align: left;
}

#welcome-sentence {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  transition: all 500ms ease-in;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  transform: translateY(-50%);
  width: 24.5em;
  text-align: center;
  overflow: hidden;
  color: var(--font-color);
  margin-bottom: 0.5em;
}

#welcome-sentence > span {
  color: var(--main-color);
}

.hero-learn-button {
  text-decoration: none;
  background: var(--main-color);
  color: white;
  font-size: 1.5vw;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 100px;
  font-weight: bold;
  transition: all 500ms ease;
  box-shadow: none;
}

.hero-learn-button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  #welcome-text {
    font-size: 8vw;
  }

  #website-text {
    font-size: 8vw;
  }
  #welcome-sentence {
    font-size: 3vw;
  }
  .hero-learn-button {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  #welcome-sentence {
    font-size: 3.25vw;
  }
}

.anim-typewriter {
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--text-cursor-color);
  }
  to {
    border-right-color: transparent;
  }
}

/* Side Navigation Bar */
.navbar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: var(--navbar-background-color);
  text-align: left;
  transition: all 1s ease;
  z-index: 1001;
  box-shadow: 20px 0px 20px 5px rgba(0, 0, 0, 0.05);
  opacity: 0;
  overflow: hidden;
}

hr {
  width: 80%;
  background: var(--navbar-children-color);
  border: none;
  height: 1px;
  opacity: 0.15;
}

.navbar > .side-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
}

.nav-socials {
  display: flex;
  justify-content: center;
}

.nav-item > .nav-link {
  text-decoration: none;
  color: var(--navbar-children-color);
  font-size: 1em;
  padding: 1em;
  flex: 1;
  transition: all 600ms ease;
  position: relative;
  overflow: hidden;
  margin-left: 0.75em;
}

.nav-item > .nav-link > .fas {
  margin-right: 0.75em;
}

.nav-item > .site-name {
  text-decoration: none;
  margin: 0;
  padding: 0.75em;
  font-size: 1.75em;
  color: white;
  flex: 1;
  cursor: auto;
  text-align: center;
  margin-bottom: 0.25em;
  font-weight: bold;
  background: var(--main-color);
}

.nav-item > .nav-link:hover {
  color: var(--main-color);
  margin-left: 1.25em;
}

.nav-socials > a > .fab {
  color: var(--navbar-children-color);
  margin: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: color 200ms ease;
}

.nav-socials > a > .fab:hover {
  color: grey;
}

#main {
  filter: blur(0px);
  transition: margin 1s ease;
}

.nav-item:last-child > .nav-link i {
  padding-top: 0.5em;
}

.nav-item:hover:last-child > .nav-link {
  background: rgb(35, 35, 35);
  color: white;
}

/* Media Toggle Button */
.nav-toggle-button {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: transparent;
  border-radius: 50px;
}

@media screen and (max-width: 800px) {
  .nav-toggle-button {
    display: flex;
  }
}

.toggle-icon {
  width: 30px;
  height: 3px;
  background: var(--font-color);
  transition: all 200ms ease-in-out;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--font-color);
  transition: all 200ms ease-in-out;
}

.nav-toggle-button:hover {
  background: var(--main-color);
}

.nav-toggle-button:hover .toggle-icon {
  background: white;
}

.nav-toggle-button:hover .toggle-icon::before {
  background: white;
}

.nav-toggle-button:hover .toggle-icon::after {
  background: white;
}

.toggle-icon::before {
  transform: translateY(-7.5px);
}

.toggle-icon::after {
  transform: translateY(7.5px);
}

.nav-toggle-button.open .toggle-icon {
  background: transparent;
}

.nav-toggle-button.open .toggle-icon::before {
  transform: translateY(0px);
}

.nav-toggle-button.open .toggle-icon::after {
  transform: translateY(0px);
}

.nav-toggle-button.open2 .toggle-icon::before {
  transform: rotate(45deg);
}

.nav-toggle-button.open2 .toggle-icon::after {
  transform: rotate(-45deg);
}

/* Skills Section */
.skills-list {
  list-style-type: none;
  color: var(--font-color);
  display: inline-flex;
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.skills-list li {
  background: var(--main-color);
  color: white;
  border-radius: 0.25em;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  transition: all 250ms ease-in-out;
  cursor: default;
}

.skills-bar {
  width: 100%;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
}

.skills-bar .bar {
  margin: 10px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .info span {
  font-size: 1.25em;
  line-height: 1.5em;
  color: var(--font-color);
}

.skills-bar .bar .info .percent {
  float: right;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: var(--textbox-color);
  border-radius: 30px;
}

.bar .progress-line span {
  height: 100%;
  background: var(--main-color);
  position: absolute;
  border-radius: 30px;
  text-align: center;
  transform-origin: left;
  transform: scaleX(0);
  animation: loadbar 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes loadbar {
  100% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 1400px) {
  .skills-list {
    font-size: 1em;
  }
  .skills-bar .bar .info span {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .skills-bar .bar {
    margin: 0;
  }
  .skills-bar .bar .info span {
    font-size: 0.85em;
  }
  .bar .progress-line span a {
    font-size: 0.85em;
  }
  .skills-bar .bar .progress-line {
    height: 7.5px;
  }
}

.bar .html span {
  width: 90%;
}

.bar .css span {
  width: 75%;
}

.bar .javascript span {
  width: 65%;
}

.bar .lua span {
  width: 85%;
}

.bar .python span {
  width: 30%;
}

.skills-list li {
  font-size: 1.25em;
}

@media screen and (max-width: 600px) {
  .skills-list li {
    font-size: 0.85em;
    line-height: 1.5em;
  }
}

.skills-list li::marker {
  color: var(--main-color);
}

/* What I do Section */
#what-i-do {
  background: transparent;
  box-shadow: none;
  background-image: none;
  overflow: visible;
}

.what-i-do-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;
}

.what-i-do-container > div {
  display: block;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  transition: all 250ms ease-in;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  background: var(--secondary-background-color);
  margin-bottom: 1em;
}

.what-i-do-container > div > .icon {
  color: var(--main-color);
  font-size: 3em;
  text-align: left;
  margin: 20px 20px 0px 20px;
  transition: all 200ms ease-in;
}

.what-i-do-container > div > header {
  color: var(--font-color);
  font-size: 2em;
  text-align: left;
  margin: 20px;
  font-weight: bold;
}

.what-i-do-container > div > p {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-size: 1.5em;
  text-align: left;
  margin: 20px;
}

.what-i-do-container > div:hover {
  background-image: none;
  background: var(--main-color);
}

.what-i-do-container > div:hover .icon {
  color: white;
}

.what-i-do-container > div:hover header {
  color: white;
}

.what-i-do-container > div:hover p {
  color: white;
}

@media screen and (max-width: 1400px) {
  .what-i-do-container > div > .icon {
    font-size: 2em;
  }
  .what-i-do-container > div > header {
    font-size: 1.75em;
  }
  .what-i-do-container > div > p {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 600px) {
  .what-i-do-container > div {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .what-i-do-container > div > .icon {
    margin: 10px;
  }

  .what-i-do-container > div > header {
    margin: 10px;
    font-size: 20px;
  }

  .what-i-do-container > div > p {
    margin: 10px;
    font-size: 15px;
  }
}

/* Work Experience Section */
.date {
  font-size: 1.25em;
  color: grey;
}

.work-title {
  color: var(--font-color);
  font-size: 1.75em;
  font-weight: bold;
}

.work-title > span {
  color: var(--main-color);
}

.work-list {
  color: var(--font-color);
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.work-list li {
  font-size: 1.25em;
}

.work-list li::marker {
  color: var(--main-color);
}

.work-1 {
  margin-bottom: 1em;
}

@media screen and (max-width: 1400px) {
  .work-title {
    font-size: 1.5em;
  }
  .work-list {
    line-height: 1.5em;
  }
  .work-list li {
    font-size: 1em;
  }
  .date {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .work-title {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 600px) {
  .work-list li {
    font-size: 0.75em;
    line-height: 1.5em;
  }
}

/* Contact Section */
.contact-box {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
}

.contact-info-main-header {
  color: var(--font-color);
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.contact-info-sub-header {
  color: var(--font-color);
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.contact-info > p {
  color: var(--font-color);
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.contact-info > a {
  color: var(--font-color);
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.contact-form {
  width: 45%;
  margin-bottom: 0;
}

@media screen and (max-width: 1400px) {
  .contact-info-main-header {
    font-size: 1.5em;
  }
  .contact-info-sub-header {
    font-size: 1.25em;
  }
  .contact-info > p {
    font-size: 1em;
  }
  .contact-info > a {
    font-size: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .contact-box {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info-main-header {
    margin-left: 0px;
  }

  .contact-info-sub-header {
    margin-left: 0px;
  }

  .contact-info > p {
    font-size: 0.85em;
    line-height: 1.5em;
  }

  .contact-info > a {
    font-size: 0.85em;
    line-height: 1.5em;
  }

  .contact-form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.input-field {
  font-family: Arial;
  font-size: 18px;
  width: 100%;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: var(--textbox-color);
  color: var(--font-color);
  outline: none;
}

.textarea-field {
  font-family: Arial;
  font-size: 18px;
  width: 100%;
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  resize: vertical;
  border: none;
  background: var(--textbox-color);
  color: var(--font-color);
  outline: none;
}

.submit-button {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: white;
  background-color: var(--main-color);
  border-radius: 60px;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 500ms ease;
  box-shadow: none;
}

.submit-button:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

/* Reveal Elements On Scroll */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  z-index: 900;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
  z-index: 900;
}

.vr {
  background: rgba(255, 255, 255, 0.75);
  height: 75%;
  width: 1px;
}

/* Footer */
.footer {
  background: var(--main-color);
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  width: 30%;
}

.footer-text > header {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.5em;
  padding: 0;
}

.footer-text > p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);
}

.quick-links > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.quick-links > ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  transition: color 200ms ease;
}

.quick-links > ul > li > a:hover {
  color: grey;
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-socials > a {
  text-decoration: none;
}

.footer-socials > a > .fab {
  color: white;
  margin: 0.8em;
  transition: color 200ms ease;
  color: rgba(255, 255, 255, 0.75);
}

.footer-socials > a > .fab:hover {
  color: grey;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 300px;
  }
  .footer-text {
    width: 25%;
  }
  .footer-text > header {
    font-size: 1.25em;
  }
  .footer-text > p {
    font-size: 0.75em;
  }
  .quick-links > ul > li > a {
    font-size: 0.75em;
  }
  .footer-socials {
    flex-direction: column;
  }
  .footer-socials > a > .fab {
    font-size: 0.75em;
  }
}

/* Colors */
.color-bar {
  position: fixed;
  right: -35px;
  top: 35%;
  height: 30%;
  width: 60px;
  background: var(--secondary-background-color);
  border-radius: 30px 0 0 30px;
  z-index: 3000;
  transition: all 250ms ease-in-out;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-evenly;
}

.color-bar .bi {
  color: var(--font-color);
  margin-top: auto;
  margin-bottom: auto;
}

.color-bar div {
  height: 100%;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color-bar:hover {
  right: 0px;
}

.color-bar div button {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.color-bar div button:nth-child(1) {
  background-color: #dc143c;
}

.color-bar div button:nth-child(2) {
  background-color: #ffa500;
}

.color-bar div button:nth-child(3) {
  background-color: #ffd700;
}

.color-bar div button:nth-child(4) {
  background-color: #228b22;
}

.color-bar div button:nth-child(5) {
  background-color: #3973f4;
}

.color-bar div button:nth-child(6) {
  background-color: #663399;
}
